/* 
This is the main css file.
CSS in this file will be used across the entire site.
*/

/****************************
      FONTS
*****************************/
@font-face {
  font-family: "ember-bold";
  src: url('/fonts/Amazon_Ember_Bd.ttf');
}

@font-face {
  font-family: "ember-reg";
  src: url('/fonts/Amazon_Ember_Rg.ttf');
}

@font-face {
  font-family: "ember-light";
  src: url('/fonts/Amazon_Ember_Lt.ttf');
}

/****************************
      GLOBAL  STYLING
*****************************/

* {
  margin: $zero;
  box-sizing: border-box;
}

body {
  height: $height_std;
  background: $bg_color_std;
}

main {
  max-width: $max_width;
  margin: $margin_std;
}

[class*=" icon-"], [class^=icon-] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: $zero $zero;
  background-repeat: repeat;
  margin-top: $zero;
}

a {
  text-decoration: none;
  color: $a_white;
}