/****************************
      HEADER  STYLING
*****************************/

.primary-nav {
  background-color: #232f3e;
  height: $header_height;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.primary-nav h1 {
  color: $white;
  float: left;
  font-family: "ember-bold", Helvetica, Arial, sans-serif;
  font-size: 34px;
}

nav {
  width: 90%;
  height: $header_height;
  margin: $zero auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.primary-nav li {
  display: inline-block;
  font-family: "ember-reg", Helvetica, Arial, sans-serif;
  margin: $zero 20px;
}

.primary-nav a {
  text-decoration: none;
  color: $white;
}

.primary-nav a:hover {
  color: $orange;
}

/* secondary nav & contents */

.secondary-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 40px;
  width: 100%;
}

.page-instructions p {
  font-family: "ember-reg", Helvetica, Arial, sans-serif;
  color: #aab7b8;
  font-size: 22px;
}


/****************************
      about
*****************************/
div {
  
  div{
    width: 70%;
    margin: 50px auto;
  }
}
.aboutMe {
  
  section img{
    float: left;
    margin-right: 30px;
    width: 200px;
    max-height: 200px;
  }
  
  section h2{
    font-size: 20px;
    margin: 10px 0px;
  }
  
  section p{
    line-height: 20px;
    font-style: italic;
    height: 115px;
    overflow: scroll;
    margin-bottom: 10px;
  }
  
  a:hover{
    color: #444;
  }
}


/****************************
    media queries 
*****************************/

@media screen and (min-width: 768px) {
  
}