/****************************
      Home
*****************************/

.longUrlInput {
  height: 35px;
  width: 250px;
}

.longUrlInput:hover {
  height: 37px;
  border-radius: 10px;
  border: 2px solid $orange;
}

/****************************
      Faqs
*****************************/

.faqs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100;
}


/****************************
      About
*****************************/




/****************************
      Links
*****************************/

.item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.itemButtons button {
  background-color: #ff0000;
  margin:0 auto;
  display:block;
  padding: 5px 9px;
  cursor: pointer;
}

