.longUrlInput {
  height: 35px;
  width: 250px;
}

.longUrlInput:hover {
  height: 37px;
  border-radius: 10px;
  border: 2px solid $orange;
}

.item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.faqs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100;
}

.itemButtons button {
  background-color: #ff0000;
  margin:0 auto;
  display:block;
  padding: 5px 9px;
  cursor: pointer;
}


/******************
* FAQ STYLES
******/
.faqs {
  display: flex;
  align-content: space-around;
  width: 70%;

  div {
    display: flex;
    flex: auto;
    height: 5vh;
    justify-content: space-between;
    line-height: 5vh;
    width: 100%;
  }
  div:nth-of-type(1) {
    // background: #ff0000;
    margin-top: 0.5vh;

    h2 {
      font-size: 5vh;
      text-align: center;
    }
  }

  div:nth-of-type(2) {
    background: #ff0000;
    

    span {
      flex-grow: 1;
    }
    span:nth-of-type(1) {
      color: blue;
      border: 1px solid blue;
      height: 5vh;
    }
  }
}